{% extends "base.html" %} {% block title %}Save Emails{% endblock %} 

{% block content %} 
<form method="POST">
    <h3 align="center">Save Email</h3>
    <div class="form-group">
      <label for="event_id">Event Id</label>
      <input
        type="integer"
        class="form-control"
        id="event_id"
        name="event_id"
        placeholder="Enter event id"
      />
    </div>
    <div class="form-group">
      <label for="email_subject">Email Subject</label>
      <input
        type="text"
        class="form-control"
        id="email_subject"
        name="email_subject"
        placeholder="Enter email subject"
      />
    </div>
    <div class="form-group">
      <label for="email_content">Email Content</label>
      <input
        type="text"
        class="form-control"
        id="email_content"
        name="email_content"
        placeholder="Enter email content"
      />
    </div>
    <div class="form-group">
      <label for="timestamp">Timestamp</label>
      <input
        type="text"
        class="form-control"
        id="timestamp"
        name="timestamp"
        placeholder="Enter timestamp (format: 03 Aug 2022 16:00)"
      />
    </div>
    
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %} 